.content{
display: table;
margin-left: auto;
margin-right: auto;
}

#page-content{
max-width: 800px;
}

#feed-content{ 
max-width: 500px;
}

#top{
display: table-header-group;
font-size: larger;
}

#middle{
display: table-row-group;
}

#bottom{
display: table;
margin-left: auto;
margin-right: auto;
color: gray;
}

#authors {
float: left;
}

#themes {
float: right;
}

.podcasts {
width: 45%;
font-size: larger;
}

li {
list-style-type: none;
margin: 0.2em 0;
}

ul {
padding-left: 0;
}

h2 {
margin-bottom: 0;
}

h3 {
margin-top: 0;
margin-bottom: 0.3em;
}

.podcasts a {
border-bottom: none;
}

a, a:active {
text-decoration: none;
border-bottom: 1px dotted;
}

a:visited {
}

#feed-header {
border-bottom: 1px solid;
border-color: gray;
text-align: center;
}

#feed-header a {
border-bottom: none;
color: black;
}

#feed-header p {
margin-left: auto;
margin-right: auto;
}

#feed-title {
margin-bottom: 0;
}

#feed-description {
margin-top: 0;
margin-bottom: 2em;
font-size: small;
}

.feed-item {
margin-bottom: 2.5em;
}

.feed-item a {
border-bottom: none;
}

.feed-item li a{
color: gray;
}

.feed-item ul {
margin: 0;
}

.feed-item li{
display: inline;
}

.feed-item li:before {
content: " - ";
}

.feed-item li:first-child:before {
content: none;
}

#item-len {
padding-left: 0.5em;
}

.feed-item-attachment {
border: 1px solid;
padding: 0.4em;
padding-left: 15px;
border-color: #E0E0E0;
background: #FAFAFA;
}

.feed-item-attachment p {
display: initial;
}


